#stats-counter {
    background-image: url('/assets/img/learn.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
   
  }
  .container {
    margin-left: 120px; /* Change the value as per your requirement */
  
}