
<section id="stats-counter" class="stats-counter center">
    <div class=" container stats-item" data-aos="zoom-out">
      <div style="text-align: center;">
       <div class="row gy-2 ">
          <div class="col-lg-12 col-md-100">
             <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="1300" data-purecounter-duration="1" class="purecounter">1300</span>
                <p>Generated Projects</p>
             </div>
         
          </div>
       </div>
      </div>
    </div>
 </section>
